extends ./layout.jade

block content
 .row
        .col-sm-1
            
        .col-sm-2
            h3 Products List
        .col-sm-4
            .grid-container
                each row in res1
                  h3 #{row.Name}
                  img(src="#{row.Image}", alt="#{row.Image}")

                  p Price: &euro;#{row.Price}
                  p Activity: #{row.Activity}
                  br
                  a(href="/item/#{row.Id}", type='button')
                    button(type="button") Show item
                  a(href="/delete/#{row.Id}") 
                    button(type="button") Delete #{row.Name}
                  hr
