extends ./layout.jade

block content
 .row
        .col-sm-1
            
        .col-sm-2
            h3 Products List
        .col-sm-4
            .grid-container
                each row in res1
                  h3 #{row.Name}
                  img(style='width: 200px; height: 150px:', src="../#{row.Image}", alt="#{row.Name}")
                  //img.pimage(src="#{row.Image}", alt="#{row.Image}")

                  p Price: &euro;#{row.Price}
                  p Activity: #{row.Activity}
                  br
                  a(href="/item/#{row.Id}", type='button')
                    button(type="button") Show item
                  a(href="/delete/#{row.Id}") 
                    button(type="button") Delete #{row.Name}
                    
                  //a.button(href="/item/" + row.Id) Details
                  //cornelia fix
                  hr
        .col-sm-4
            .grid-container
                h3 Here are the reviews of our website!
                each review in reviews
                 .item
                  h4 #{review.name} says:
                  p #{review.content}
