extends ./layout.jade

block content

    h1 
        | Products page!
    .row
        .col-sm-2
        .col-sm-8
            .grid-container
                each row in res1
                  p #{row.Name}
                  img.pimage(src="#{row.Image}", alt="#{row.Image}")
                  p Price: &euro;#{row.Price}
                  p Activity: #{row.Activity}
                  a(href="/item/#{row.Id}", type='button')
                    button(type="button") item
                  a(href="/edit/#{row.Id}") 
                    button(type="button") Edit Product
                  a(href="/delete/#{row.Id}") 
                    button(type="button") Delete #{row.Name}
