extends ./layout.jade

block content
 .row
        .col-sm-1
            
        .col-sm-2
            h3 Users List
        .col-sm-4
            .grid-container
                each row in res1
                  h3 #{row.Fname} #{row.Lname}
                  //p Surname: #{row.Lname}
                  p Email: #{row.Email}
                  br
                  a(href="/user/#{row.Id}", type='button')
                    button(type="button") Show User
                  a(href="/delete/#{row.Id}") 
                    button(type="button") Delete #{row.Fname}
                  hr
